.data-panel {
    flex: 3;
    /* border: 1px solid #ffc107; */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

h1, h2 {
    background-color: #ffc107;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: medium;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: flex-end;
}

.form-group {
    flex: 1;
}

.label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.select, .input-search {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-cari {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-search {
    flex: 2;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    form, table {
        width: 95%;
    }

    th, td {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 14px;
    }
}