
.data-panel {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 85%;
}

.data-panel2 {
    display: flex;
    flex-direction: column; /* Aligns table within the container */
    height: calc(100vh - 3rem); /* Full height minus navbar height */
    margin-top: 0; /* Remove margin if not needed */
    padding: 1rem; /* Optional: Add some padding for spacing */
    overflow: auto; /* Enables scrolling if table content overflows */
}

h1 {
    background-color: #ffc107;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: medium;
}

/* Table Styling */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 16px;
}

.data-table th, .data-table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: small;
    
}

.data-table td:nth-child(10){
    width: 200px;
    max-height: 20px;
    overflow-y: scroll;
    text-wrap: wrap;
}

.data-table th {
    background-color: #4CAF50;
    color: #ffffff;
    font-weight: bold;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

/* Status Styling */
.data-table td:nth-child(6) {
    font-weight: bold;
}

.data-table td.menunggu{
    background-color: orange;
}

.data-table td.diproses{
    background-color: rgb(225, 255, 0);
}

.data-table td.selesai{
    background-color: rgb(17, 254, 0);
}

.data-table td.siap-diambil{
    background-color: rgb(11, 168, 0);
}


.data-table td.dibatalkan{
    background-color: rgb(255, 84, 84);
}

.data-table tr td:nth-child(2){
    min-width: 150px;
}

.data-table tr td:nth-child(9){
    padding: 0;
}

.data-table form{
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.data-table form select, .data-table form button{
    min-height: 200%;
}

.data-table td:nth-child(6):contains("Selesai") {
    color: green;
}


.data-table td:nth-child(6):contains("Menunggu") {
    color: orange;
}

.data-table td:nth-child(6):contains("Batal") {
    color: red;
}

/* Rowspan Styling */
.data-table td[rowspan] {
    vertical-align: middle;
    text-align: center;
}


.edit-btn {
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border-radius: 4px;
}